{% extends 'base.html' %}
{% block title %}
Why study IT? - Cheung Ho Yin
{% endblock title %}
    {% block content %}
    <div class="container">
        <h1>Why IT? / 	なぜIT学ぶ？</h1>
        <p>初めてITに興味を持つのは、図書館管理を専攻していたときです。その間、ITは図書館には不可欠なものだと先生にそうよく言われました。IT化のおかげで、図書資料の購入、登録、貸出・返却処理、読者の情報扱いなど通常管理業務は以前よりもっと便利です。図書館管理だけでなく、ほかの業界にもITの利用がどんどん増えています。ITスキルの身につける必要性を感じています。</p>

        <p>図書館管理の専門を卒業した後、大学でプログラミング系を入りました。JAVAを始め、サイトデザイン(HTML/CSS)、データベース(SQL, MySQL)、Pythonを学んだことがあります。いろんな宿題のプロジェクトをしたこともあります。
        </p>

        <p>実際あくまで少し社内SEの経験ですけど、いろんなインターンシップや仕事で様々なシステムを利用し、ITとプログラミングに関わる知識を少しずつ学んでいました。その経験を積んでいて、将来IT関係の仕事に役に立つと思います。</p>

        <p>For the first time I started interesting in IT when I was studying library science at college. Teachers always emphasize the importance of IT application and usage in library settings. For example, library management system and RFID. It makes library work more efficient and time-saving, on the aspects of book purchase, cataloguing, check in/out, user records and statistics. Then I started to learn programming at university-level after completed my library diploma. At that time, Java programming was the core of the whole programme, and also learned Web design (HTML/CSS), Database Management (SQL, MySQL), and Python.</p>

        <p>Although I haven't been a programmer, I experienced different kinds of systems through different internships and positions, learned the logic and elements of these systems and how they work. Little by little, I think these experiences can help me nourish my logcal sense to trackle IT work in the future.</p>

        <p>
            <img class="img-fluid" src="/media/pic/javamillennium01.png" ><br><br>
            <img class="img-fluid" src="/media/pic/javamillennium02.png" ><br><br>
            <img class="img-fluid" src="/media/pic/javamillennium03.png" ><br>
            これは大学の宿題でした。JAVAである図書館システム(Innopac Millennium)を模倣して作りました（貸出・返却のみ）。<br>
            This picture shows trying to copy a library system with check in/out functions only using Java Language.
        </p>


        <p>
            <img class="img-fluid" src="/media/pic/php_lms02.jpg"><br><br>
            <img class="img-fluid" src="/media/pic/phpwebpages.png"><br>
            その後、ウェブページでデータを見せるようになったため作れられました。以前のデータは大学に提供されたOracleで保存しましたが、これはPHP、MYSQLを使っていました。<br>
            Afterward, I used PHP for webpage and MYSQL to store data that display the information while I was using Oracle provided my university to store data before.
        </p>

    </div>

{% endblock %}

